/* Set the background of the whole document to light blue */
body {
  background: #00b3e6;
}

/* Set styles for the div elements */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  padding: 30px;
}

/* Set the font size for the main header */
#main-header {
  font-size: 22px;
}

/* Set the font style for elements with the class perspective-questions to italic */
.perspective-questions {
  font-style: italic;
}
